body {
    color: white;
    background: #2E7D32; /* Verde do Palmeiras */
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px #FFC107; /* Amarelo como destaque */
    padding: 20px;
    font-size: 32px;
    color: #FFC107;
}

.chamada {
    background: #A5D6A7; /* Verde claro */
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
    text-align: center;
}

h1 {
    font-size: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

p {
    font-size: 20px;
    line-height: 1.5;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
}

.categoria {
    padding: 0 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
    transition: transform 0.2s;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid #FFC107; /* Amarelo no hover */
    transform: scale(1.05);
}

.categoria h2 {
    color: #FFC107; /* Amarelo para os títulos */
    text-align: center;
}
